body {
    /*background: #c6e5f2 url(/images/spriteme2.png) no-repeat center top;
    background-position: -79px -10px;*/
    background-color: #F0F0F0;
    font-family: "Monaco", "Hiragino Sans GB", "Microsoft YaHei", Trebuchet, "Trebuchet MS", Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    word-spacing: 1px;
    border-top: 5px solid #00bb6f;
}

/*.wrap {
    width: 980px;
    margin: 0 auto;
}*/


#header,#main,#sub-main{
        width: 1000px;
}
/***********头部**************/

#header-container {
    width: 100%;
    height: 100px;
    /*line-height: 60px;*/
    /*border-radius: 0px 0px 5px 5px;*/
}
#header {
    height: 60px;
    margin: 0 auto;
    position: relative;
    padding: 20px 20px;
    overflow: hidden;
}


#header .site-logo {
    float: left;
    width: 20.6%;

}


/*********主体**********/
#main {
    margin: 10px auto;
    overflow: hidden;
}

/*首页文章列表*/
.content {
    width: 710px;
    margin-right: 10px;
    display: inline;
    padding: 0;
}

/*文章内容*/
.postbox {
    width: 670px;
    padding: 10px 10px;
    padding-left: 30px;
}

/***********左边条********************/
.sidebar {
    width: 280px;
}

.side {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
}

/*************底部***************/

#sub-container {
font-size: 90%;
line-height: 1.618em;
color: #eee;
padding: 2.5em 0;
text-shadow: 0 1px 1px rgba(0,0,0,0.4);
background: url(../images/sub_container_bg.jpg) 0 0 repeat-x #027446;
}


#sub-main {
margin: 0 auto;
padding: 0 20px;
overflow: hidden;
}


.footer {
    /*    clear: both;*/
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    /*margin-bottom: 30px;*/
    color: #666;
}