---
layout: default
title: "育好儿_读懂孩子,科学教养"
description: "育好儿,为您传递最有价值的育儿理论。读懂孩子,科学教养,是我们坚持不懈的追求。"
keywords: 育好儿,早教,亲子早教,亲子教育,育儿经验,育儿心理学
---
<div  class="tag-container radius" >
    <div class="biaoqian idx-biaoqian">
        <a href="/tags/374.html" target="_blank">大数据</a>
        |
        <a href="/tags/29.html" target="_blank">创业</a>
        |
        <a href="/tags/40.html" target="_blank">百度</a>
        |
        <a href="/tags/54.html" target="_blank">苹果</a>
        |
        <a href="/tags/35.html" target="_blank">马云</a>
        |
        <a href="/tags/79.html" target="_blank">移动互联网</a>
        |
        <a href="/tags/68.html" target="_blank">微信</a>
        |
        <a href="http://www.huxiu.com/zhuanti/hxlenovoznds" target="_blank">智能电视</a>
    </div>
</div>

{% for post in paginator.posts %}
<div>
            {% if post.img ==1 %}
            <img src="{{ site:url }}/images/{{ post.img }}" alt="" />
            {% endif %}

</div>
{% endfor %}

<div class="toutiao idx-toutiao radius">
    <h2>
        <a href="/article/44492/1.html" target="_blank">互联网法律服务的“三个代表”</a>
    </h2>
    <p>被视为蓝海的在线法律服务已聚集了众多颠覆者</p>
    <div class="box-img">
        <a href="/article/44492/1.html" target="_blank">
            <img src="http://img.huxiu.com/portal/201410/24/072202vqlr0lor30ff3003.jpg"></a>
    </div>
    <div class="box-other">
        <span class="toggle-tooltip later-reading-wrap">
            <a href="javascript:void(0);" class="later-reading-btn " aid="44492" data-toggle="tooltip" data-placement="top" data-original-title="稍后阅读，保存后在微信中也可查看列表.^_^"> <i data-original-title="" title=""></i>
            </a>
        </span>
        <span class="source-quote">
            <a class="hx-card" userid="303086" href="/member/303086.html" target="_blank">Eastland</a>
            <a href="/renzheng.html?#hxtdrz" target="_blank" class="c-hxrz hxfwtd" title="虎嗅团队"></a>
        </span>
        <time>2014-10-24 07:22:00</time>
        <span class="comment-box"> <i class="icon-comment"></i>
            <a href="/comment/44492/1.html" target="_blank">9</a>
        </span>
        <span class="tags-box">
            <a href="/tags/3005.html" target="_blank">法律</a>
            <a href="/tags/3065.html" target="_blank">P2P</a>
            <a href="/tags/29.html" target="_blank">创业</a>
            <a href="/tags/2263.html" target="_blank">头条</a>
        </span>
    </div>
</div>

<div class="idx-news radius">
    <div class="title">
        <h2>最新要闻</h2>
    </div>
    <div class="cont clr">
        <div class="cont-left">
            <ul class="news-ul">
                <li class="clr">
                    <div class="img">
                        <a href="http://www.leiphone.com/latest/index/id/235" target="_blank">
                            <img src="http://leiphone.qiniudn.com/uploads/new/latest/5440c64588712.png"></a>
                    </div>
                    <div class="word">
                        <h3>
                            <a href="http://www.leiphone.com/latest/index/id/235" target="_blank">雷锋网正在招兵买马！</a>
                        </h3>
                        <p>欢迎志同道合的伙伴加盟我司。</p>
                    </div>
                </li>
                <li class="clr">
                    <div class="img">
                        <a href="http://www.leiphone.com/latest/index/id/253" target="_blank">
                            <img src="http://leiphone.qiniudn.com/uploads/new/latest/5448b65aba9aa.jpg"></a>
                    </div>
                    <div class="word">
                        <h3>
                            <a href="http://www.leiphone.com/latest/index/id/253" target="_blank">小米Q3国内出货量市场第一</a>
                        </h3>
                        <p>小米Q3成市场第一，国内出货量超三星。</p>
                    </div>
                </li>
                <li class="clr">
                    <div class="img">
                        <a href="http://www.leiphone.com/latest/index/id/252" target="_blank">
                            <img src="http://leiphone.qiniudn.com/uploads/new/latest/5448b586c29ca.jpg"></a>
                    </div>
                    <div class="word">
                        <h3>
                            <a href="http://www.leiphone.com/latest/index/id/252" target="_blank">MX4 Pro不使用圆点Home键</a>
                        </h3>
                        <p>李楠今日在微博公布了关于MX4 Pro的消息。</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cont-right">
            <ul class="news-ul">
                <li class="clr">
                    <div class="img">
                        <a href="http://www.leiphone.com/latest/index/id/251" target="_blank">
                            <img src="http://leiphone.qiniudn.com/uploads/new/latest/5448b5594ce10.jpg"></a>
                    </div>
                    <div class="word">
                        <h3>
                            <a href="http://www.leiphone.com/latest/index/id/251" target="_blank">YunOS版MX4双11预售细节公布</a>
                        </h3>
                        <p>搭载YunOS的魅族MX4售价为1799元。</p>
                    </div>
                </li>
                <li class="clr">
                    <div class="img">
                        <a href="http://www.leiphone.com/latest/index/id/250" target="_blank">
                            <img src="http://leiphone.qiniudn.com/uploads/new/latest/544752907fa5e.jpg"></a>
                    </div>
                    <div class="word">
                        <h3>
                            <a href="http://www.leiphone.com/latest/index/id/250" target="_blank">黑色版移动4G小米4来了！</a>
                        </h3>
                        <p>移动4G黑色版小米4将于10月28日中午12点正式开卖。</p>
                    </div>
                </li>
                <li class="clr">
                    <div class="img">
                        <a href="http://www.leiphone.com/latest/index/id/249" target="_blank">
                            <img src="http://leiphone.qiniudn.com/uploads/new/latest/54471bbae9210.jpg"></a>
                    </div>
                    <div class="word">
                        <h3>
                            <a href="http://www.leiphone.com/latest/index/id/249" target="_blank">首批iPad Air 2和mini 3订单发货</a>
                        </h3>
                        <p>据最新消息报道，即日起，首批订单将开始发货。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% for post in paginator.posts %}
<div class="index_lists">
    <div class="index_des">
        <div class="index_img">
            {% if post.img %}
            <img src="{{ site:url }}/images/{{ post.img }}" alt="" />
            {% endif %}
        </div>
        <div class="article-right">
        <h4>
            <a href="{{ site:url  }}{{ post.url  }}" target="_blank">{{post.title}}</a>
        </h4>
        <div class="article-right-text">
        {{ post.description }}
        </div>
      </div>
    </div>

            <div class="article-bottom">
            <div class="metatag">
                <span class="date">{{ post.date | date:"%Y-%m-%d" }}</span>
                <span class="tags">{{ post.tags | array_to_sentence_string }}</span>
                <a href="" class="au" target="_blank">
                    <span>{{post.author}}</span>
                    <i></i>
                </a>
                <a href="" class="sor">{{post.category}}</a>
            </div>
     </div>
</div>
{% endfor %}
<div class="ep-pages">
    <span class="ep-pages-e5e5e5">第{{paginator.page}}页/共{{paginator.total_pages}}页</span>
    <a href="/">第一页</a>
    {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
    <a href="/" class="current">
        <<前一页</a>
            {% else %}
            <a href="/page{{paginator.previous_page}}">
                <<前一页</a>
                    {% endif %} {% else %}
                    <span>
                        <<前一页</span>
                            {% endif %} {% for count in (2..paginator.total_pages) limit:8 %} {% if count == paginator.page %}
                            <span class="current-page">{{count}}</span>
                            {% else %}
                            <a href="/page{{count}}">{{count}}</a>
                            {% endif %} {% endfor %} {% if paginator.next_page %}
                            <a href="/page{{paginator.next_page}}">后一页>></a>
                            {% else %}
                            <span>后一页>></span>
                            {% endif %}
                            <a href="/page{{paginator.total_pages}}">最后一页</a>
                        </div>