
		<div class="postbox radius">
            <h2 class="first_title">{{ page.title  }}</h2>
            <p class="posted_info">
                posted by 傅唯一 on {{ page.date | date:"%Y-%m-%d"  }} 分类: <a href="{{ site:url }}/categorys/{{ page.category }}.html">{{ page.category }}</a>
            </p>
            <div class="postcontent">
			{{ content}}
            </div>
            
    		<div class="likepost">
    			<h2>相关日志</h2>
    			<ul>
    				{% for v in site.categories[page.category] limit:5  %}
    				<li><a href="{{ site:url  }}{{ v.url  }}">{{ v.title  }}</a></li>
    				{% endfor  %}
    			</ul>
    		</div>

<!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="请将此处替换成文章在你的站点中的ID" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"fety"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->


		</div>
