
<div class="side radius left">
<a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=d6cecc51-8df0-47ad-9166-34ff48c33da8&amp;style=1&amp;bp=qqmb,bsharesync,sinaminiblog,qzone,189share,sohuminiblog,renren,xinhuamb,tianya,shouji,ifengmb,neteasemb,qqxiaoyou,kaixin001,weixin,douban,qqim"></script>
</div>

<div class="side radius left">
	<h2>关于我(About Me)</h2>
        <p>
        	<img src="{{ site:url }}/images/my01.jpg" alt="me" />
        </p>
        <p class="name">育好儿</p>
        <p class="des">
		读懂孩子，科学教养
		</p>
        <p>EMAIL: xiongfeiting@gmail.com</p>
</div>
