<!-- <div class="side radius left">
	<div class="side_ads">
		<a href="http://www.eebang.cn/goods/3692" target="_blank"><img src="http://www.eebang.cn/views/temp/ad003.jpg" alt="衣帮网" /></a>
	</div>
	<div class="side_ads">
		<a href="http://www.eebang.cn/goods/580" target="_blank"><img src="http://www.eebang.cn/views/temp/ad002.jpg" alt="衣帮网" /></a>
	</div>
	<div class="side_ads">
		<a href="http://www.eebang.cn/goods/2416" target="_blank"><img src="http://www.eebang.cn/views/temp/ad001.jpg" alt="衣帮网" /></a>
	</div>
</div> -->


<div class="side radius left book-box">
    <h2>推荐书(books)</h2>
                <div class="pull-left book-img"><a href="http://www.huxiu.com/index.php/article/45140/1.html" class="a-img" target="_blank"><img src="http://images.huxiu.com/portal/201410/23/113553zioilhq4ll6vidd8.jpg"></a>
                </div>
                <div class="pull-right book-box-ctt">
                    <h4><a href="/article/45140/1.html" target="_blank">创业，有时候契约精神比方向更重要！读《九败一胜》</a></h4>
                    <!--<div class="summary">创业，这个词，只要在互联网这个圈子，你时常会听到，但创业时我们聊什么？人们更多谈论方向，实际上对于肯</div>--><p><em>书名：</em>《九败一胜》</p><p><em>作者：</em>李志刚</p><p><em>出版社：</em>北京联合出版公司</p> </div>
</div>