<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} 育好儿</title>
    <meta name="keywords" content="{{  page.keywords }}育好儿,早教,亲子早教,亲子教育,育儿经验" />
    <meta name="description" content="育好儿，读懂孩子,科学教养" />
    <link href="{{ site:url }}/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="{{ site:url }}/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/prettify/prettify.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" />
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/prettify/prettify.js"></script>
</head>

<body>
    <div id="header-container" class="radius black">
        <div id="header">
            <div class="site-logo">
                <a href="{{ site:url  }}" id="logo">育好儿</a>
                <p>读懂孩子 · 科学教养</p>
            </div>
            <div class="top-nav-bar">
                <ul class="menu">
                    <li>
                        <a>
                            妈妈说 <em>Tell Mom</em>
                        </a>
                    </li>
                    <li>
                        <a>
                            推荐书单 <em>Recommended books</em>
                        </a>
                    </li>
                    <li>
                        <a>
                            宝贝推荐
                            <em>Good goods</em>
                        </a>
                    </li>
                    <li>
                        <a>
                            消费指南
                            <em>Consumer guide</em>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="search" id="top-search-bar">
                <form method="GET" action="http://www.yuhaoer.com/search">
                    <input type="text" name="s" autocomplete="off" value="">
                    <button type="submit"></button>
                </form>
                <ul class="tip-ul hide"></ul>
            </div>
            <!-- search END --> </div>
    </div>

    <div id="main">
        <div class="content left">{{ content}}</div>
        <div class="sidebar right">
            {% include sidebar.html %} {% include side_categorys.html %} {% include side_links.html %}
        </div>
    </div>

    <div id="sub-container">
        <div id="sub-main">
            <section class="sc-1">
                <div class="site-about">
                    <h3>
                        关于本站
                        <span>About</span>
                    </h3>
                    <div>
                        <p>
                            通过MBTI，你可以读懂自己，读懂他人。在MBTI咖啡馆这里，你会了解和性格相关的各种有趣的事情——你将会知道怎么快速识别他人的性格类型，你还能知道你的宠物的性格是什么...
                            <a href="http://www.hellombti.com/about/">了解更多</a>
                        </p>
                    </div>
                </div>
                <div class="site-elsewhere">
                    <p>
                        <a href="http://weibo.com/u/1823702565" target="_blank">新浪微博</a>
                        ·
                        <a href="http://blog.sina.com.cn/yingpeng332" target="_blank">个人博客</a>
                    </p>
                </div>
            </section>
            <section class="sc-2">
                <div class="site-archives">
                    <h3>
                        合作伙伴
                        <span>Partner</span>
                    </h3>
                    <ul>
                        <li>
                            <a href='' title=''>合作伙伴</a>
                        </li>
                        <li>
                            <a href='' title=''>合作伙伴</a>
                        </li>
                        <li>
                            <a href='' title=''>合作伙伴</a>
                        </li>
                        <li>
                            <a href='' title=''>合作伙伴</a>
                        </li>
                        <li>
                            <a href='' title=''>合作伙伴</a>
                        </li>
                    </ul>
                </div>
                <div class="site-rss">
                    <a href="http://www.hellombti.com/feed" class="rss-link">RSS 订阅</a>
                </div>
            </section>
            <section class="sc-3">
                <div class="mail-subscribe">
                    <form action="http://hellombti.us5.list-manage1.com/subscribe/post?u=173ae2fdf7ebdb6c6340541ab&amp;id=1cdd3f5b51" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <h3>
                            邮件订阅
                            <span>Subscribe</span>
                        </h3>
                        <p>
                            <input type="email" value="" name="EMAIL" class="subscribe-input" id="mce-EMAIL" placeholder="输入你的EMAIL地址" required />
                        </p>
                        <p>
                            <input type="submit" value="立即订阅" name="subscribe" id="mc-embedded-subscribe" class="subscribe-btn"/>
                        </p>
                    </form>
                </div>
                <div class="site-brand">
                    <a href="http://www.hellombti.com">
                        <img src="http://www.hellombti.com/wp-content/themes/hellombti/img/brand_logo.jpg" alt="mbti咖啡馆" />
                    </a>
                </div>
            </section>
        </div>
    </div>
    <!--end #sub-container-->

    <div class="footer radius">
        &copy; 大熊 2012-2013 Powered by GitHub
        <a href="https://github.com/mojombo/jekyll" target="_blank">jekyll</a>
    </div>
</body>

</html>