<div class="toutiao idx-toutiao radius">
    <h2>
        <a href="/article/44492/1.html" target="_blank">互联网法律服务的“三个代表”</a>
    </h2>
    <p>{{ content}}</p>
    <div class="box-img">
        <a href="/article/44492/1.html" target="_blank">
            <img src="http://img.huxiu.com/portal/201410/24/072202vqlr0lor30ff3003.jpg"></a>
    </div>
    <div class="box-other">
        <span class="toggle-tooltip later-reading-wrap">
            <a href="javascript:void(0);" class="later-reading-btn " aid="44492" data-toggle="tooltip" data-placement="top" data-original-title="稍后阅读，保存后在微信中也可查看列表.^_^"> <i data-original-title="" title=""></i>
            </a>
        </span>
        <span class="source-quote">
            <a class="hx-card" userid="303086" href="/member/303086.html" target="_blank">Eastland</a>
            <a href="/renzheng.html?#hxtdrz" target="_blank" class="c-hxrz hxfwtd" title="虎嗅团队"></a>
        </span>
        <time>2014-10-24 07:22:00</time>
        <span class="comment-box"> <i class="icon-comment"></i>
            <a href="/comment/44492/1.html" target="_blank">9</a>
        </span>
        <span class="tags-box">
            <a href="/tags/3005.html" target="_blank">法律</a>
            <a href="/tags/3065.html" target="_blank">P2P</a>
            <a href="/tags/29.html" target="_blank">创业</a>
            <a href="/tags/2263.html" target="_blank">头条</a>
        </span>
    </div>
</div>